<style>
    body{
        overflow-x: visible;
    }
</style>

<h1 class="page-title">About BDFS <small><small><span class="fw-semi-bold">Anomaly Detection System</span></small></small></h1>
<div class="row">
        <section class="container-fluid">

            <div class="content" style="border:1px solid #666; border-radius:11px; padding:20px;">

            <h4><span class="fw-semi-bold">System Architecture</span></h4>
            <img src="img/architecture.png" style="width: 1050px; height: 750px;">
            </div>

            <div class="content" style="border:1px solid #666; border-radius:11px; padding:20px;">

            <h4><span class="fw-semi-bold">Layman's Architecture</span></h4>
            <img src="img/Layman.png" style="width: 1050px; height: 750px;">
            </div>

        </section>
</div>